{% extends 'cms/cms_base.html' %}
{% from 'common/_macros.html' import static %}
{% block title %}
    观星资产总览
{% endblock %}
{% block head %}
    <script src="{{ static('cms/js/index.js') }}"></script>
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
{% endblock %}
{% block page_title %}
    资产总览
{% endblock %}
{% block main %}
    <div class="top-box" style="margin-bottom: 20px">
        <span style="font-size: 16px">当前共收录：<font color="red">{{  total  }}</font> 条资产信息</span>
        <button class="btn btn-warning btn-sm" id="gx">更新</button>

    </div>
    <div style="overflow-x: auto; overflow-y: auto; height: 750px; width:1520px;">
        {{ chart|safe }}
    </div>
{% endblock %}