<!DOCTYPE html>
{% from "common/_macros.html" import static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>
    {% include 'common/_head.html' %}
    <link rel="stylesheet" href="{{ static('cms/css/base.css')}}">
    <script src="{{static('cms/js/base.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}

    {% endblock %}
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">牧羊犬主机服务检测系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li>
              {% if not g.cms_user.avatar_path %}
                  <img src="{{ g.cms_user.avatar() }}"
                       style="width:40px;height: 40px; margin-right: 5px; border-radius:5px; margin-top: 5px" alt="{{ g.cms_user.username }}">
              {% else %}
                  <img src="{{ g.cms_user.avatar_path }}"
                       style="width:40px;height: 40px; margin-right: 5px; border-radius:5px; margin-top: 5px" alt="{{ g.cms_user.username }}">
              {% endif %}
          </li>
              <li>
                  <a href="{{ url_for('admin.profile') }}">{{ g.cms_user.username }}<span> [{{ g.cms_user.roles[0].name }}]</span></a>
              </li>
            <li><a href="{{ url_for('admin.logout') }}">注销</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav-sidebar">
                  <li class="unfold"><a href="{{ url_for('admin.index') }}">首页</a></li>
                <li class="profile-li">
                    <a href="#">个人中心<span></span></a>
                    <ul class="subnav">
                        <li><a href="{{ url_for('admin.profile') }}">个人信息</a></li>
                        <li><a href="{{ url_for('admin.resetpw') }}">修改密码</a></li>
                        <li><a href="{{ url_for('admin.resetemail') }}">修改邮箱</a></li>
                    </ul>
                </li>

                  <li class="nav-group post-manage"><a href="{{ url_for('admin.task') }}">任务管理</a></li>
                  <li class="zhiwen-li">
                      <a href="#">指纹管理<span></span></a>
                      <ul class="subnav">
                          <li><a href="{{ url_for('admin.cmsmanger') }}">CMS指纹</a></li>
                          <li><a href="#">WEB指纹</a></li>
                          <li><a href="#">主机指纹</a></li>
                      </ul>
                  </li>
                <li class="board-manage"><a href="{{ url_for('admin.zc') }}">资产管理</a></li>

                <li class="nav-group user-manage"><a href="{{ url_for('admin.admintask') }}">管理员任务系统</a></li>
                  <li class="role-manage"><a href="{{ url_for('admin.monitor') }}">系统监控</a></li>

                  <li class="nav-group cmsuser-manage"><a href="{{ url_for('admin.usermanger') }}">用户管理</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>{% block page_title %}
            {% endblock %}</h1>
            <div class="main_content">
                {% block main %}
                {% endblock %}
            </div>
          </div>
      </div>
    </div>
</body>
</html>